.more header{
  cursor: pointer;
}


.more .more__friend {
  margin-left: 0px;
  margin: 10px 0px;
}

.more .more-friend__column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.more .far {
  font-size: 20px;
}

.more .more__btn,
.more__suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.more .more__btn-list,
.more .more__suggestions-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}
.more__btn .more__btn-title {
  font-size: 14px;
  margin-top: 10px;
}
.more .more__suggestions {
  border-top: 1px solid #f7f7f7;
  padding: 20px 0px;
}

.more .more__suggestion .more .more__title {
  margin-bottom: 30px;
  opacity: 0.1;
}

.more .more__suggestion {
  display: flex;
}

.suggestion__title {
  font-size: 12px;
  margin-top: 13px;
  justify-content: space-between;
}

.more .suggestion__icon {
  margin-bottom: 5px;
  background-color: #fce006;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.suggestion__icon i {
  font-size: 28px;
}
